* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ==declaring variables== */
:root {
    font-size: 10px;

    --primary-color: #afe8ff;
    --secondary-color: #fff;
    --main-color: #ff743c;
    --text-color: #000;
}

/* ==generic classes== */
.container {
    padding: 1rem 5vw;
    width: 100%;
    text-align: center;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 0.7rem 0 0.5rem 0;

    font-family: "Poppins", sans-serif;
    font-size: 2rem;
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.text {
    padding: 0.5rem 0;

    font-family: "Libre Franklin", sans-serif;
    line-height: 1.7rem;
    font-size: 1.3rem;
    text-align: justify;
}

.text-container {
    padding-top: 1.5rem;
}

a {
    font-family: "Libre Franklin", sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
}

a:hover {
    color: var(--main-color);
    text-decoration: underline var(--main-color) 0.15rem;
}

a:active {
    color: var(--main-color);
}

.button {
    line-height: 4rem;
    font-weight: 600;
    text-decoration: none;

    padding: 1rem 2rem;
    border: transparent 1px solid;
    border-radius: 0.5rem;

    background-color: var(--main-color);
    color: var(--secondary-color);

    transition: all 600ms ease;
}

.button:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);

    text-decoration: none;

    border: solid 1px var(--main-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mobile-hide {
    display: none;
}

/* ==header== */
#header {
    background-color: var(--secondary-color);
    border-bottom: hsla(0, 0%, 0%, 0.1) solid 1px;

    position: fixed;
    top: 0;

    padding: 0.2rem 0;
    z-index: 10;
}

#header div.container {
    justify-content: space-between;
    padding: 0 5vw;
}

#header img {
    scale: 30%;
}

#header figure a {
    display: inline-block;

    width: 7rem;
    height: 7rem;
    
    background-image: url(../images/BrasaoSuzano.svg);
    background-position: 5%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#header nav {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;

    gap: 1.2rem;
}

#header nav .fa-bars {
    scale: 200%;
}

/* ==main content== */
main {
    background-color: var(--primary-color);
}

#spacing {
    height: 78px;
}

/* ==hero section== */
#hero {
    width: 100%;
    height: 50vw;

    background-image: url(../images/banner-cidade.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 5%;
    background-attachment: fixed;
}

#hero h1 {
    font-size: 2.5rem;
    color: var(--secondary-color);
}

/* ==galery section== */
#galery div {
    background-color: var(--secondary-color);
}

#galery svg ~ svg {
    transform: rotateZ(180deg);
}

#galery figure,
#galery img {
    width: 100%;

    transition: all 600ms ease;
}

#galery figure {
    padding: 1rem 0;
}

#galery figure:hover img {
    scale: 115%;
}

#galery .image-container {
    overflow: hidden;
}

#galery figcaption {
    padding-top: 1rem;
}

/* ==final section== */
#background-wrap {
    background-image: url(../images/history-background.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

#history,
#news,
#back-to-top {
    background-color: #afe8ff80;
}

/* ==news sub-section-- */
#news input[type="email"] {
    width: 50vw;
    height: 27px;

    padding: 0.2rem 1rem;
    
    line-height: 0.8rem;
    
    border-radius: 0.5rem;
}

#news .button {
    line-height: 0.5rem;
    text-transform: uppercase;
}

#news form {
    padding-top: 1rem;
}

/* ==back to top button== */
#back-to-top {
    justify-content: flex-end;
}

#back-to-top div a {
    display: inline-block;

    height: 30px;
    width: 30px;

    background-image: url(../images/arrow-up-solid.svg);
    background-repeat: no-repeat;
    background-position: 50% 0;

    animation: arrow-move 600ms ease-in-out alternate infinite;
}

/* ==footer== */
#footer {
    padding: 0.5rem 5vw;

    border-top: hsla(0, 0%, 0%, 0.1) solid 1px;
}

#footer p {
    font-size: 1rem;
    text-align: center;
}

#footer #copyright {
    display: inline-block;
    width: 100%;
}

#footer a {
    text-transform: capitalize;
}

#footer a:hover {
    color: var(--text-color);
    text-decoration: underline var(--text-color) 0.1rem;
}

/* ==animations== */
@keyframes arrow-move {
    from {
        transform: translateY(0rem);
    }
    to {
        transform: translateY(-1rem);
    }
}

/* ==responsive design== */
@media screen and (min-width: 810px) {
    /* ==generic classes== */

    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 2rem;
    }

    .text {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .mobile-hide {
        display: inline;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .desktop-hide {
        display: none;
    }

    a {
        font-size: 1.5rem;
    }

    /* ==header== */
    #header {
        padding: 0.5rem 0;
    }

    #header a {
        font-size: 1.8rem;
    }

    #header #search {
        width: 15vw;
        height: 2.2rem;

        padding: 0.2rem;

        background-image: url(../images/magnifying-glass-solid.svg);
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: 95% 50%;

        border-radius: 1rem;
    }

    /* ==footer== */
    #footer #copyright {
        display: inline;
    }

    #footer p {
        font-size: 1.5rem;
        text-align: center;
    }
}
