/*STYLE PARA USAR NO ARQUIVO cidade.HTML*/

body{
    background-color: rgb(48, 44, 44);
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:60px;

}

main{
    background-color: rgb(0, 0, 0);
    color:white
}